.hero{
	float: left;
}
.logo{
}
.button{
	background-color:gray;
	border-radius: 4px;
	color:white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	padding: 25px 200px
}
.details{
	text-align:center;
}
.wrapper{
	text-align:center;
}